body{
    margin: 0px;
}
h1 {
    color: #099999; /* right a comment here */
    text-align:center;
}
p {
    font-size: medium;
    text-align: center;
}
.navbar ul {
    list-style-type:none;
    background-color: rgb(220, 178, 238);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align:center;
}
.navbar a:hover{
    background-color: blueviolet;
}
.navbar li{
    float:right;
}